<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short Url</title>
    {{!-- font-awesome --}}
    <script src="https://kit.fontawesome.com/750228b3da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  </head>
  <body>

    <div class="container">
      <div class="d-flex justify-content-center mt-3">
        <h1>URL shortener</h1>
      </div>
      <div class="d-flex justify-content-center">
        <a href="/"><img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" style="width: 200px" alt="..."></a>
      </div>
      
      {{{ body }}}
    </div>
      
    <!-- include javascript files here -->
    <script src="/javascripts/copy.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>